<h1><%= @task.title %></h1>
<br>
<p><%= @task.details %></p>
<%if @task.completed %>
  <p>¡Done!</p>
<% else %>
  <p>¡Earring!</p>
<% end %>
<%= link_to root_path do%>
<i class="fa-solid fa-rotate-left"></i>Back to the list
<% end %>
